* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 213, 213);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

form {
    background-color: rgba(52, 108, 183);
    width: 100%;
    max-width: 450px;
    margin: 25px 50px;
    padding: 21px 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px rgb(41, 41, 41);
}

form h1 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-variant: small-caps;
}

div.input {
    margin-bottom: 20px;
    color: white;
    margin: 5px auto;
    text-align: center;
    width: 100%;
}

input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 2px;

}

select {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 2px;

}

button {
    width: 50%;
    height: 40px;
    margin: 10px auto;
    border-radius: 5px;

}

button:hover{
    background-color:#333;
    color: white;
    transition: 0.4s;
}

#info {
    width: 350px;
    height: 350px;
    background-color: rgb(52, 108, 183);
    box-shadow: 0px 5px 5px #333;
    color: white;
    margin: 50px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 40px;
}

#info h2 {
    text-align: center;
}

#link {
    text-align: center;
    margin: 50px;
}

#link a{
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    color: #333;
    box-shadow: 0px 2px 2px #333;
}

#link a:hover{
    background-color: #333;
    color: white;
    transition: 0.4s;
}