*{
margin:0;
padding:0;
}

#menu ul{
margin-top: 10px;;
border-bottom: 0.5px solid;
border-color: rgb(173, 173, 173);
justify-content: flex-end;
display: flex;
}

#menu ul li{
list-style: none;
}

#menu ul li a{
font-family: roboto;
font-size:14px;
text-decoration: none;
display: block;
margin-right: 10px;
border-radius:5px;
margin-bottom: 10px;;
padding: 7px;
color: black;
transition: 300ms;
}

#menu ul li a:hover{
background-color: rgb(92, 94, 255);
color: white;
}

#conteudo_principal{
position: relative;
display:flex;
flex-direction: column;
justify-content:center;
align-items:center;
width: 100%;
height: 550px;
border: 1px solid;
}

#conteudo_principal h1{
top: 100px;
position: absolute;
font-size:70px;
}

#conteudo_principal h2{
color: rgb(75, 75, 75);
font-size: 35px;
position: absolute;
top: 220px;    
}

main{
display: flex;
flex-wrap: wrap;
justify-content:center;
align-items:center
}

#conteudo_box1{
align-items: center;
display: flex;
justify-content:center;
flex-direction: column;
background-image: linear-gradient(to left,rgb(35, 91, 246) 1%,rgb(0, 68, 255));
width: 49%;
height: 400px;
border: 1px solid;
}
#conteudo_box2{
align-items: center;
background-color:black;
display: flex;
flex-direction: column;
justify-content:center;
width: 50.6%;
height: 400px;
border: 1px solid;
}
#conteudo_box3{
align-items: center;
flex-direction: column;
background-color:black;
display: flex;
justify-content:center;
width: 100%;
height: 400px;
}

#conteudo_box1 h2, #conteudo_box2 h2, #conteudo_box3 h2{
text-align: center;
font-size: 45px;
color: white;
}

#conteudo_box2{
border-bottom: solid rgb(22, 22, 22);
border-width: 0.01em;
}

#conteudo_box1 h3, #conteudo_box2 h3, #conteudo_box3 h3{
width: 550px;
text-align: center;
margin-top: 25px;
font-weight: 100;
font-size: 30px;
color: white;
}
