header{
width: 100%;
display: flex;
justify-content:center;
align-items:center;
}

#calculadora{
position: relative;
top: 60px;
width: 332px;
}

input{
width: 80px;
height: 80px;
font-size: 30px;
}

#visor{
color: white;
width: 325px;
background-color:rgb(59, 59, 59)
}

.igual{
width: 333px;
background-color: red;
}

.limpar{
background-color:red;
}

#botoes_especiais{  
background-color: rgb(14, 51, 212)
}